.add_task_btn {
  color: var(--add-task-btn-color-idle);
  display: flex;
  align-items: center;
  /* To center the icon vertically */

  &>span {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    margin-right: .5rem;
  }
}

.add_task_btn:hover {
  color: var(--add-task-btn-color-hover);

  &>span {
    color: white;
    background-color: var(--add-task-btn-color-hover);
    border-radius: 50%;
  }
}